<form class="task-form" style="width:80%;max-width:900px;margin:auto;">
  <ul class="list-group task-group">
    <div class="form-group form-check">
      <label for="taskDate">Search by Date</label>
      <input #taskDate id="taskDate" name="date" (blur)="getTasks()" (keypress)="enterAction($event, 'date')" [(ngModel)]="entity.date" class="form-control" type="date" min="2001-01-01"
        max="2100-12-31">
    </div>
    <div class="form-group form-check">
      <label for="taskDesc">Search by Name</label>
      <input #taskDesc id="taskDesc" (blur)="getTasks()" (keypress)="enterAction($event)" name="description" [(ngModel)]="entity.description" class="form-control" maxlength="20">
    </div>
    <button style="display:none" (click)="doNothing();"></button>
    <a *ngFor="let entity of entityList" class="list-group-item list-group-item-action list-group-item-info">
      <button class="btnOK glyphicon glyphicon-ok" title="finish" (click)="setOK(entity)" aria-hidden="true"></button>
      <button class="btnDel glyphicon glyphicon-remove" title="delete" (click)="delete(entity)" aria-hidden="true"></button>
      {{entity.description}} on {{entity.date}}
    </a>
  </ul>
</form>

